<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>Código: {{code}}</p>
            <p>Stock: {{stock}}</p>
            <p>Categoría: {{category}}</p>
            {{#if thumbnails.length}}
                <div>
                    {{#each thumbnails}}
                        <img src="{{this}}" alt="{{../title}}" style="width: 100px;">
                    {{/each}}
                </div>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</body>
</html>
